<figure {{ with .Get "class" }}class="{{ . }}"{{ end }}>
    <audio style="width:100%;" controls preload="{{ .Get "preload" | default "metadata" }}">
      {{ with .Get "src-ogg" }}<source src="{{ . | relURL }}" type="audio/ogg">{{ end }}
      {{ with .Get "src-mp3" }}<source src="{{ . | relURL }}" type="audio/mpeg">{{ end }}
    </audio>
    {{ with .Get "caption" }}<figcaption>{{ . }}</figcaption>{{ end }}
  </figure>